button#orderSubmit{
  position:fixed;
  right:2%;
}
button#deleteOrders{
  position:fixed;
  right:3%;
  top:15%;
}
.nav{
  padding-top:10;
}
label{
  margin-left:20px;
}
table#orders{
  width:90%;
}
p{
  font-size: 25;
}
